* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Header,
.Footer {
    background-color: aqua;
    height: 70px;
}

/* .Header {
    margin-top: 50px;
} */

img {
    width: 100vw;
    height: 80vh;
}